/* Global Style Begin */
body {
  color: black;
  background-color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
}
/* Global Style End */

/* Header Style Begin */
header {
  color: black;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  text-shadow: 0 0 5px white;
}

header nav {
  color: black;
  text-align: center;
  position: sticky;
  display: block;
  list-style: none;
  background: transparent;
  margin: 7px 0;
  padding-right: 40px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: gray;
  border-radius: 15px;
  text-shadow: none;
  text-decoration: underline;
}
/* Header Style End */

/* Hero style Begin */
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

.hero img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 40px;
  padding: 20px;
}

.title {
  margin: 100px 0px 0px 50px;
  text-align: center;
}

.title h1 {
  font-size: 40px;
}

/* Main Style Begin */
.main-section {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  text-align: left;
}

.main-section h3 {
  background-color: #f0f0f0;
  text-align: right;
  font-size: 40px;
  border-right: 5px solid black;
  padding: 20px;
  text-align: center;
  line-height: 50px;
  margin: 60px;
}

.main-section h4 {
  background-color: #f0f0f0;
  text-align: right;
  font-size: 40px;
  padding: 10px 10px 10px 0px;
  text-align: center;
  line-height: 50px;
  margin: 10px 10px 10px 0px;
}

.work-title-container {
  background-color: #f0f0f0;
}

.work-title-container span {
  line-height: 15px;
}

.main-section p {
  margin-left: 30px;
}

/* work section style begin */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: static;
}

.flex-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 475px;
}

.flex-item:first-child {
  width: 1000px;
  height: 600px;
}

/* work style begin */
.surf-report {
  background-image: url("../images/robot-surf.jpeg");
}

.led-wall {
  background-image: url("../images/brick-wall.jpeg");
}

.calculator {
  background-image: url("../images/code.jpeg");
}

.pastel-puzzles {
  background-image: url("../images/pastel-puzzle.jpg");
}

.run-buddy {
  background-image: url("../images/run-buddy.jpeg");
}
/* Academic Background section style begin */
.university {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.university ul {
  display: flex;
}

/* Contact section style begin */

.main-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.main-section ul li {
  padding: 30px;
}
